@mixin font($fs, $fw, $lh, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin flex($dis, $jc, $ali) {
  display: $dis;
  justify-content: $jc;
  align-items: $ali;
}

@mixin min320 {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin min320-max767 {
  @media screen and (min-width: 320px) and (max-width: 767) {
    @content;
  }
}

@mixin max479 {
  @media screen and (max-width: 479px) {
    @content;
  }
}

@mixin min480 {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin max767 {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin min768 {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin min768-max1279 {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin min1280 {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin max1279 {
  @media screen and (max-width: 1279px) {
    @content;
  }
}
