:root {
  --accent-color: #d41443;
  --main-white-color: #fff;
  --main-text-color: #000;
  --secondary-text-color: #907e82;
  --back-color: #ffb8ca;
  --light-btn-hover: #ecebeb;
  --dark-btn-hover: #c7133e;
  --sub-title-color: #ffa5ba;
  --loc-hov-btn: #d41342;
}
