<section class="advantages" id="advantages">
  <div class="container">
    <h3 class="visually-hidden">advantages</h3>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <p class="advantages__title" id="counter-1">721</p>
        <p class="advantages__text">Liters of milk our cows give daily.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__title"><span id="counter-2">16</span>kg</p>
        <p class="advantages__text">We harvest fruits from our organic plantations every hour.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__title" id="counter-3">84</p>
        <p class="advantages__text">Stores are open throughout the country.</p>
      </li>
    </ul>
  </div>
</section>
