
<!-----------------------------Белая кнопка!-------------------------->
<button type="button" class="first-btn"><span class="first-btn__start">Buy now<svg class="first-btn__finish" width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m1 1 4 4-4 4" stroke="#D41443" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></span>
</button>


<!-----------------------------Розовая кнопка!-------------------------->
<button type="button" class="second-btn"><span class="second-btn__start">Our Locations<svg class="second-btn__finish" width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m1 1 4 4-4 4" stroke="#D41443" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></span>
</button>