
<!-----------------------------Белая кнопка!-------------------------->
<button type="button" class="first-btn"><span class="first-btn__start">Buy now<img class="first-btn__finish" src="../images/btn-corner.svg" alt="стрелка"></span>
</button>


<!-----------------------------Розовая кнопка!-------------------------->
<button type="button" class="second-btn"><span class="second-btn__start">Our Locations<img class="second-btn__finish" src="../images/btn-corner.svg" alt="стрелка"></span></button>