<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Our location, working schedule and contacts</h2>
    <div class="contacts__card-wrap">
      <ul class="contacts__list">
        <li class="contacts__item">
          <div class="contacts__card-top">
            <p class="contacts__name">CAFE</p>
            <h3 class="contacts__location">Chicago</h3>
            <p class="description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="contacts__card-middle">
            <h3 class="contacts__schedule">Monday - Friday</h3>
            <p class="contacts__time">
              <time datetime="06:00">06:00 AM</time>
              -
              <time datetime="10:00">10:00 PM</time>
            </p>
            <h3 class="contacts__schedule">Saturday - Sunday</h3>
            <p class="contacts__time">
              <time datetime="08:00">08:00 AM</time>
              -
              <time datetime="16:00">16:00 PM</time>
            </p>
          </div>
          <ul class="contacts__card-bottom">
            <li class="contacts__tel">
              <a class="contacts__link" href="tel:+610383766284 ">+61(0) 383 766 284 </a>
            </li>
            <li class="contacts__mail">
              <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <div class="contacts__card-top">
            <p class="contacts__name contacts__name--green">FOOD TRUCK</p>
            <h3 class="contacts__location">Los Angeles</h3>
            <p class="description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="contacts__card-middle">
            <h3 class="contacts__schedule">Monday - Friday</h3>
            <p class="contacts__time">
              <time datetime="06:00">06:00 AM</time>
              -
              <time datetime="10:00">10:00 PM</time>
            </p>
            <h3 class="contacts__schedule">Saturday - Sunday</h3>
            <p class="contacts__time">
              <time datetime="08:00">08:00 AM</time>
              -
              <time datetime="16:00">16:00 PM</time>
            </p>
          </div>
          <ul class="contacts__card-bottom">
            <li class="contacts__tel">
              <a class="contacts__link" href="tel:+610383766284 ">+61(0) 383 766 284 </a>
            </li>
            <li class="contacts__mail">
              <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <div class="contacts__card-top">
            <p class="contacts__name">CAFE</p>
            <h3 class="contacts__location">New York</h3>
            <p class="description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="contacts__card-middle">
            <h3 class="contacts__schedule">Monday - Friday</h3>
            <p class="contacts__time">
              <time datetime="06:00">06:00 AM</time>
              -
              <time datetime="10:00">10:00 PM</time>
            </p>
            <h3 class="contacts__schedule">Saturday - Sunday</h3>
            <p class="contacts__time">
              <time datetime="08:00">08:00 AM</time>
              -
              <time datetime="16:00">16:00 PM</time>
            </p>
          </div>
          <ul class="contacts__card-bottom">
            <li class="contacts__tel">
              <a class="contacts__link" href="tel:+610383766284 ">+61(0) 383 766 284 </a>
            </li>
            <li class="contacts__mail">
              <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="contacts__button-wrap">
      <button contacts-location-modal-open class="contacts__button--red" type="button">
        <span class="contacts__button-text--red">Our Locations</span>
        <svg width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m1 1 4 4-4 4"
            stroke="#fff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <button contacts-franchise-modal-open class="contacts__button--wight" type="button">
        <span class="contacts__button-text--wight">Franchise</span>
        <svg width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m1 1 4 4-4 4"
            stroke="#D41443"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
