<footer>
  <section class="footer" id="footer">
    <h2 class="visually-hidden">How to find us</h2>
    <div class="container down">
      <div class="footer-slogan">
        <p class="footer__title">homemade ice cream made</p>
        <p class="footer__text">with passion</p>
      </div>
      <div class="footer__media">
        <ul class="footer-social__list">
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://github.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="32" height="32" class="footer__icon">
                <use href="/images/footer-social-icons.svg#github-logo-icon"></use></svg
            ></a>
          </li>
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://telegram.org/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="32" height="32" class="footer__icon">
                <use href="/images/footer-social-icons.svg#telegram-logo-icon"></use></svg
            ></a>
          </li>
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="32" height="32" class="footer__icon">
                <use href="/images/footer-social-icons.svg#facebook-logo-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__contact">
          <span class="footer__contact--text">Feel free to contact</span>
          <a class="footer__link--tel" href="tel:+610383766284">+61 (0) 383 766 284 </a>
        </div>
      </div>
    </div>
    <!-- <svg width="320" height="2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1h320" stroke="#E1E1E1"/></svg> -->
    <div class="copyright">
      <p class="copyright__title">&copy; 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </section>
</footer>
