<section class="gallery-section">
    <div class="gallery-container">
        <div class="gallery-img-container gallery-img-container-1">
            <picture>
                <!-- <source srcset="./images/gallery-.jpg"> -->
                <img class="gallery-img gallery-img-1" src="./images/gallery-1.jpg" alt="three ice-creams">
            </picture>
        </div>
        <div class="gallery-img-container gallery-img-container-2">
            <picture>
                <!-- <source srcset="./images/gallery-.jpg"> -->
                <img class="gallery-img gallery-img-2" src="./images/gallery-2.jpg" alt="ice-cream">
            </picture>
            <picture>
                <!-- <source srcset="./images/gallery-.jpg"> -->
                <img class="gallery-img gallery-img-3" src="./images/gallery-3.jpg" alt="many pink ice-creams">
            </picture>
        </div>
        <div class="gallery-img-container gallery-img-container-3">
            <picture>
                <!-- <source srcset="./images/gallery-.jpg"> -->
                <img class="gallery-img gallery-img-4" src="./images/gallery-4.jpg" alt="many diverse ice-creams">
            </picture>
            <picture>
                <!-- <source srcset="./images/gallery-.jpg"> -->
                <img class="gallery-img gallery-img-5" src="./images/gallery-5.jpg" alt="girl with ice-cream">
            </picture>
        </div>
        <div class="gallery-img-container gallery-img-container-4">
            <picture>
                <!-- <source srcset="./images/gallery-.jpg"> -->
                <img class="gallery-img gallery-img-6" src="./images/gallery-6.jpg" alt="cap with ice-cream">
            </picture>
            <picture>
                <!-- <source srcset="./images/gallery-.jpg"> -->
                <img class="gallery-img gallery-img-7" src="./images/gallery-7.jpg" alt="ice-cream in city">
            </picture>
        </div>
        <div class="gallery-img-container gallery-img-container-5">
            <picture>
                <!-- <source srcset="./images/gallery-.jpg"> -->
                <img class="gallery-img gallery-img-8" src="./images/gallery-8.jpg" alt="dog licking ice-cream">
            </picture>
            <picture>
                <!-- <source srcset="./images/gallery-.jpg"> -->
                <img class="gallery-img gallery-img-9" src="./images/gallery-9.jpg" alt="chocolate ice-cream">
            </picture>
        </div>
        <div class="gallery-img-container gallery-img-container-6">
            <picture>
                <!-- <source srcset="./images/gallery-.jpg"> -->
                <img class="gallery-img gallery-img-10" src="./images/gallery-10.jpg" alt="sweety ice-cream">
            </picture>
        </div>
    </div>
</section>