<section class="hero">
  <div class="container hero__container">
    <!-- Верхний контейнер героя -->
    <div class="hero__top-box">
      <div class="top-box__title-box">
        <h1 class="section-title top-box__title">ice cream made with <span>passion</span></h1>
        <ul class="top-box__btn-list">
          <li class="top-box__btn">
            <a href="#products" class="top-box__link second-btn">Products</a>
          </li>
          <li class="top-box__btn">
            <a href="#about" class="top-box__link first-btn">How it’s made?</a>
          </li>
        </ul>
      </div>
      <ul class="top-box__numbers-list">
        <li class="top-box__numbers-item">
          <p class="top-box__number section-title">16</p>
          <p class="top-box__numbers-txt">cafes</p>
        </li>
        <li class="top-box__numbers-item">
          <p class="top-box__number section-title">23</p>
          <p class="top-box__numbers-txt">food trucks</p>
        </li>
      </ul>
    </div>
    <!-- Нижний контейнер героя -->
    <div class="hero__bottom-box">
      <p class="bottom-box__txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a href="#gallery" class="bottom-box__link">
        <img src="./images/btn-arrow.png" alt="Стрелка" class="bottom-box__img" />
      </a>
    </div>
  </div>

  <!-- Картинки -->
  <div class="hero__img-container">
    <!-- Круг -->
    <div class="hero__icecream-circle"></div>
    <!-- Молоко -->
    <picture>
      <source
        srcset="./images/hero-milk-desktop@1x.png 1x, ./images/hero-milk-desktop@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero-milk-tab@1x.png 1x, ./images/hero-milk-tab@2x.png 2x"
        media="(min-width: 768px)"
      />
      <img src="./images/hero-milk-tab@1x.png" alt="Кувшин с молоком" class="hero__milk" />
    </picture>
    <!-- Мороженное -->
    <picture>
      <source
        srcset="./images/hero-icecream-desktop@1x.png 1x, ./images/hero-icecream-desktop@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero-icecream-tab@1x.png 1x, ./images/hero-icecream-tab@2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/hero-icecream-mob@1x.png 1x, ./images/hero-icecream-mob@2x.png 2x"
        media="(max-width: 767px)"
      />
      <img src="./images/hero-icecream-mob@1x.png" alt="Мороженное" class="hero__icecream" />
    </picture>
    <!-- Девушка -->
    <picture>
      <source
        srcset="./images/hero-girl-desktop@1x.png 1x, ./images/hero-girl-desktop@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero-girl-tab@1x.png 1x, ./images/hero-girl-tab@2x.png 2x"
        media="(min-width: 768px)"
      />
      <img src="./images/hero-girl-tab@1x.png" alt="Девушка ест мороженное" class="hero__girl" />
    </picture>
  </div>
</section>
