<!-- Location modal-->
<div class="location-modal is-hidden" contacts-location-modal>
    <div class="location-map">
        <button type="button" class="location-modal__close-btn" сontacts-location-modal-close>
            <svg class="location-map__close-icon" width="18px" height="18px">
                <use href="./images/mob-menu-icons.svg#close-icon">
                </use>
            </svg>
        </button>
        <form action="#" class="location-form">
            <p class="location-form__title">Main office is here</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.594183796039!2d30.520705150636488!3d50.4486591952753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce513ab320cf%3A0xb9fc242f88ad00e8!2z0JzQvtGA0L7Qt9C40LLQviBJY2UgQ3JlYW0!5e0!3m2!1sru!2sua!4v1645122137962!5m2!1sru!2sua"
                width="100%" height="95%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </form>
    </div>

</div>
<!-- Franchise modal-->
<!-- <button class="example__open-btn" data-example-open>
        ooo
    </button>
    <div class="franchise is-hidden" contacts-franchise-modal>
        
        <div class="franchise-modal">
            <button class="franchise-modal__close" contacts-franchise-modal-close>
                <svg class="franchise-modal__close-icon" width="18px" height="18px">
                    <use href="./images/mob-menu-icons.svg#close-icon"></use>
                </svg>
            </button>
            <div class="franchise-brands"> 
                <p class="franchise-title"> Our brands </p>
                <ul class="franchise-list">
                    <li class="franchise-list__item"><a href="" class="franchise-list__link">
                            <picture>
                                <source srcset="./images/modal-img/caspers1x.png 1x, 
                                                  ./images/modal-img/caspers2x.png 2x" media="(min-width: 1200px)" />
                                <source srcset="./images/modal-img/caspers1x.png 1x, 
                                                    ./images/modal-img/caspers2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="./images/modal-img/caspers1x.png 1x, 
                                                    ./images/modal-img/caspers2x.png 2x" media="(min-width: 480px)" />
                                <img src="./images/caspers1x.png" alt="Caspers ice cream">
                            </picture>
                        </a></li>
                    <li class="franchise-list__item"><a href="" class="franchise-list__link">
                            <picture>
                                <source srcset="./images/modal-img/cornetto1x.png 1x, 
                                                   ./images/modal-img/cornetto2x.png 2x" media="(min-width: 1200px)" />
                                <source srcset="./images/modal-img/cornetto1x.png 1x, 
                                                     ./images/modal-img/cornetto2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="./images/modal-img/cornetto1x.png 1x, 
                                                    ./images/modal-img/cornetto2x.png 2x" media="(min-width: 480px)" />
                                <img src="./images/cornetto1x.png" alt="Caspers ice cream">
                            </picture>
                        </a></li>
                    <li class="franchise-list__item"><a href="" class="franchise-list__link">
                            <picture>
                                <source srcset="./images/modal-img/dq1x.png 1x, 
                                                     ./images/modal-img/dq2x.png 2x" media="(min-width: 1200px)" />
                                <source srcset="./images/modal-img/dq1x.png 1x, 
                                                       ./images/modal-img/dq2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="./images/modal-img/dq1x.png 1x, 
                                                        ./images/modal-img/dq2x.png 2x" media="(min-width: 480px)" />
                                <img src="./images/dq1x.png" alt="Caspers ice cream">
                            </picture>
                        </a></li>
                    <li class="franchise-list__item"><a href="" class="franchise-list__link">
                            <picture>
                                <source srcset="./images/modal-img/dreyers1x.png 1x, 
                                                   ./images/modal-img/dreyers2x.png 2x" media="(min-width: 1200px)" />
                                <source srcset="./images/modal-img/dreyers1x.png 1x, 
                                                     ./images/modal-img/dreyers2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="./images/modal-img/dreyers1x.png 1x, 
                                                          ./images/modal-img/dreyers2x.png 2x" media="(min-width: 480px)" />
                                <img src="./images/dreyers1x.png" alt="Caspers ice cream">
                            </picture>
                        </a></li>
                    <li class="franchise-list__item"><a href="" class="franchise-list__link">
                            <picture>
                                <source srcset="./images/modal-img/edys-ice1x.png 1x, 
                                                ./images/modal-img/edys-ice2x.png 2x" media="(min-width: 1200px)" />
                                <source srcset="./images/modal-img/edys-ice1x.png 1x, 
                                              ./images/modal-img/edys-ice2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="./images/modal-img/edys-ice1x.png 1x, 
                                                ./images/modal-img/edys-ice2x.png 2x" media="(min-width: 480px)" />
                                <img src="./images/edys-ice1x.png" alt="Caspers ice cream">
                            </picture>
                        </a></li>
                    <li class="franchise-list__item"><a href="" class="franchise-list__link">
                            <picture>
                                <source srcset="./images/modal-img/nestle-ice1x.png 1x, 
                                                   ./images/modal-img/nestle-ice2x.png 2x" media="(min-width: 1200px)" />
                                <source srcset="./images/modal-img/nestle-ice1x.png 1x, 
                                                    ./images/modal-img/nestle-ice2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="./images/modal-img/nestle-ice1x.png 1x, 
                                                ./images/modal-img/nestle-ice2x.png 2x" media="(min-width: 480px)" />
                                <img src="./images/nestle-ice1x.png" alt="Caspers ice cream">
                            </picture>
                        </a></li>
                    <li class="franchise-list__item"><a href="" class="franchise-list__link">
                            <picture>
                                <source srcset="./images/modal-img/polar1x.png 1x, 
                                                               ./images/modal-img/polar2x.png 2x" media="(min-width: 1200px)" />
                                <source srcset="./images/modal-img/polar1x.png 1x, 
                                                                ./images/modal-img/polar2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="./images/modal-img/polar1x.png 1x, 
                                                            ./images/modal-img/polar2x.png 2x" media="(min-width: 480px)" />
                                <img src="./images/polar1x.png" alt="Caspers ice cream">
                            </picture>
                        </a></li>
                    <li class="franchise-list__item"><a href="" class="franchise-list__link">
                            <picture>
                                <source srcset="./images/modal-img/tiptop1x.png 1x, 
                                             ./images/modal-img/tiptop2x.png 2x" media="(min-width: 1200px)" />
                                <source srcset="./images/modal-img/tiptop1x.png 1x, 
                                                  ./images/modal-img/tiptop2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="./images/modal-img/tiptop1x.png 1x, 
                                                 ./images/modal-img/tiptop2x.png 2x" media="(min-width: 480px)" />
                                <img src="./images/tiptop1x.png" alt="Caspers ice cream">
                            </picture>
                        </a></li>
                    <li class="franchise-list__item"><a href="" class="franchise-list__link">
                            <picture>
                                <source srcset="./images/modal-img/vadelal1x.png 1x, 
                                               ./images/modal-img/vadelal2x.png 2x" media="(min-width: 1200px)" />
                                <source srcset="./images/modal-img/vadelal1x.png 1x, 
                                             ./images/modal-img/vadelal2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="./images/modal-img/vadelal1x.png 1x, 
                                          ./images/modal-img/vadelal2x.png 2x" media="(min-width: 480px)" />
                                <img src="./images/vadelal1x.png" alt="Caspers ice cream">
                            </picture>
                        </a></li>
                    <li class="franchise-list__item"><a href="" class="franchise-list__link">
                            <picture>
                                <source srcset="./images/modal-img/velvet1x.png 1x, 
                                                      ./images/modal-img/velvet2x.png 2x" media="(min-width: 1200px)" />
                                <source srcset="./images/modal-img/velvet1x.png 1x, 
                                                       ./images/modal-img/velvet2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="./images/modal-img/velvet1x.png 1x, 
                                                       ./images/modal-img/velvet2x.png 2x" media="(min-width: 480px)" />
                                <img src="./images/velvet1x.png" alt="Caspers ice cream">
                            </picture>
                        </a></li>
                </ul>
            </div>
            
            <form action="#" class="franchise-form">
                <p class="franchise-form__title"> Join us! </p>
                <div class="franchise-form__field">
                    <label for="name" class="franchise-form__lable"> Имя <label />
                        <div class="franchise-form__align-icon">
                            <input type="text" class="franchise-form__input" name="name" id="name" />
                            <svg class="franchise-form__icon" width="18px" height="18px">
                                <use href="./images/symbol-defs.svg#person-form"></use>
                            </svg>
                        </div>
                </div>
                <div class="franchise-form__field">
                    <label for="tel" class="franchise-form__lable"> Телефон <label />
                        <div class="franchise-form__align-icon">
                            <input type="tel" class="franchise-form__input" name="tel" id="tel" />
                            <svg class="franchise-form__icon" width="18px" height="18px">
                                <use href="./images/symbol-defs.svg#phone-form"></use>
                            </svg>
                        </div>
                </div>
                <div class="franchise-form__field">
                    <label for="email" class="franchise-form__lable"> Почта <label />
                        <div class="franchise-form__align-icon">
                            <input type="email" class="franchise-form__input" name="email" id="email" />
                            <svg class="franchise-form__icon" width="18px" height="18px">
                                <use href="./images/symbol-defs.svg#email-form"></use>
                            </svg>
                        </div>
            
                </div>
                <label class="franchise-checkbox">
                    <input class="franchise-checkbox__input" type="checkbox" name="agree" value="agree" />
                    <span class="franchise-checkbox__icon"> </span>
                    I confirm that the information provided is correct </label>
                <button type="submit" class="franchise-form__button">SEND</button>
            </form>
        </div>
    </div>-->