<!-- modal about -->

<div class="the-modal modal-is-hidden how-read-more-modal">
  <div class="about-modal--wrap">
    <div class="about-modal__decoration-stick"></div>
    <div class="about-modal">
      <button class="about-modal__close how-read-more-modal-close">X</button>
      <div class="about-modal__title">
        <span class="about-modal__title--slim">You</span>
        <span class="about-modal__title--slim">can't buy</span>
        <span class="about-modal__title--bold">happiness</span>
        <span class="about-modal__title--slim">but you can buy</span>
        <span class="about-modal__title--bold">ice &hearts; cream</span>
        <span class="about-modal__title--slim">and that's kind of the</span>
        <span class="about-modal__title--slim">same thing</span>
      </div>
      <!-- the video -->
      <div class="about-modal__video-wrap">
        <iframe
          id="my-video"
          class="about-modal__video"
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/8fAcW1Rbd2I?enablejsapi=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelector('.how-read-more-modal-close').addEventListener('click', () => {
    document
      .getElementById('my-video')
      .contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
  });
</script>
