<!-- modal about -->

<div how-read-more-modal class="the-modal modal-is-hidden">
  <div class="about-modal--wrap">
    <div class="about-modal__decoration-stick"></div>
    <div class="about-modal">
      <button how-read-more-modal-close class="about-modal__close">X</button>
      <div class="about-modal__title">
        <span class="about-modal__title--slim">You</span>
        <span class="about-modal__title--slim">can't buy</span>
        <span class="about-modal__title--bold">happiness</span>
        <span class="about-modal__title--slim">but you can buy</span>
        <span class="about-modal__title--bold">ice &hearts; cream</span>
        <span class="about-modal__title--slim">and that's kind of the</span>
        <span class="about-modal__title--slim">same thing</span>
      </div>
      <!-- the video -->
      <div class="about-modal__video-wrap">
        <iframe
          class="about-modal__video"
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/8fAcW1Rbd2I?start=10"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

<button how-read-more-modal-open type="button" class="about__button">
  <span class="about__button--text">Read more</span
  ><svg width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m1 1 4 4-4 4"
      stroke="#D41443"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</button>
