<!--
<button type="button" contacts-location-modal-open>open</button>
<div class="location-modal is-hidden" contacts-location-modal>
    <div class="location-map">
        <button type="button" class="location-modal__close-btn" сontacts-location-modal-close>
            <svg class="location-map__close-icon" width="18px" height="18px">
                <use href="./images/mob-menu-icons.svg#close-icon">
                </use>
            </svg>
        </button>
        <form action="#" class="location-form">
            <p class="location-form__title">Main office is here</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.594183796039!2d30.520705150636488!3d50.4486591952753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce513ab320cf%3A0xb9fc242f88ad00e8!2z0JzQvtGA0L7Qt9C40LLQviBJY2UgQ3JlYW0!5e0!3m2!1sru!2sua!4v1645122137962!5m2!1sru!2sua"
                width="100%" height="95%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </form>
    </div>

</div>-->
<!-- Franchise modal-->
<div class="franchise-modal is-hidden">
    <form class="franchise-form">
               <button type="button" class="franchise-form__close-btn" >
            <svg class="franchise-form__close-icon" width="18px" height="18px">
                <use href="./images/mob-menu-icons.svg#close-icon">
                </use>
            </svg>
        </button>
        <p class="franchise-form__title"> Our brands</p>
        <ul>
<li class="franchise-form__item"> <a href="" class="franchise-form__link"></a> </li>
<li class="franchise-form__item"> <a href="" class="franchise-form__link"></a> </li>
<li class="franchise-form__item"> <a href="" class="franchise-form__link"></a> </li>
<li class="franchise-form__item"> <a href="" class="franchise-form__link"></a> </li>
<li class="franchise-form__item"> <a href="" class="franchise-form__link"></a> </li>
<li class="franchise-form__item"> <a href="" class="franchise-form__link"></a> </li>
        </ul>
    </form>
</div>