<section class="products" id="products">
  <div class="container">
    <p class="product-pre-title">100% natural</p>
    <h2 class="product-title">products</h2>
    <ul class="product-list">
      <li class="product-link">
        <div class="product-container">
          <h3 class="product-container__title">ice cream</h3>
          <p class="product-container__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
          <p class="product-container-content content1 modal-is-hidden" product-1-modal>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis eos aut molestiae, odit error earum ullam veritatis quaerat vel animi dolores nulla ex unde! Consectetur placeat tempora laudantium deleniti atque!</p>
          <button class="product-info-btn" type="button" product-1-modal-open product-1-modal-close>
            <svg class="arrow-product" width="14" height="14">
            <use href="./images/products-dots.svg#arrow-product"></use></svg>
          </button>
        </div>
      </li>
      <li class="product-link">
        <div class="product-container">
          <h3 class="product-container__title">ice coffee</h3>
          <p class="product-container__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
         <p class="product-container-content content2 modal-is-hidden" product-2-modal>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis eos aut molestiae, odit error earum ullam veritatis quaerat vel animi dolores nulla ex unde! Consectetur placeat tempora laudantium deleniti atque!</p>
          <button class="product-info-btn" type="button" product-2-modal-open product-2-modal-close>
             <svg class="arrow-product" width="14" height="14">
            <use href="./images/products-dots.svg#arrow-product"></use></svg>
          </button>
        </div>
      </li>
      <li class="product-link">
        <div class="product-container">
          <h3 class="product-container__title">milkshakes</h3>
          <p class="product-container__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
          <p class="product-container-content content3 modal-is-hidden" product-3-modal>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis eos aut molestiae, odit error earum ullam veritatis quaerat vel animi dolores nulla ex unde! Consectetur placeat tempora laudantium deleniti atque!</p>
          <button class="product-info-btn" type="button" product-3-modal-open product-3-modal-close>
            <svg class="arrow-product" width="14" height="14">
            <use href="./images/products-dots.svg#arrow-product"></use></svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
