<section class="products">
    <div class="container">
<p class="product-pre-title">100% natural</p>
<h2 class="product-title">products</h2>
<ul class="product-list">
<li class="product-link">
    <div class="product-container">
    <h3 class="product-container__title">ice cream</h3>
    <p class="product-container__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
    <button class="product-info-btn" type="submit"><img src="./images/btn-arrow.png" alt="#" width="40" height="40"> </button>
</div>
</li>
<li class="product-link">
    <div class="product-container">
    <h3 class="product-container__title">ice coffee</h3>
    <p class="product-container__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
    <button class="product-info-btn" type="submit"><img src="./images/btn-arrow.png" alt="#" width="40" height="40"> </button>
</div> 
</li>
<li class="product-link">
    <div class="product-container">
    <h3 class="product-container__title">milkshakes</h3>
    <p class="product-container__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p> 
        <button class="product-info-btn" type="submit"><img src="./images/btn-arrow.png" alt="#" width="40" height="40"> </button>
</div>
</li>
</ul>
</div>
</section>
