@mixin min1280 {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
// анимашка мороженка

.icecream {
  display: none;
  @include min768 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 85%;
  }
}
.icecream > .flavor {
  position: relative;

  width: 95px;
  height: 130px;

  border-radius: 40px 40px 5px 5px;
  overflow: hidden;

  &:after {
    content: '';

    position: absolute;
    left: 21px;
    bottom: 20px;

    width: 10px;
    height: 85px;

    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
  }
}

.icecream > .flavor > .flavours {
  position: relative;
  top: 0%;
  left: -20%;

  width: 140%;
  height: 120%;

  background-image: linear-gradient(
    0deg,
    #d41443 25%,
    #fff 25%,
    #fff 25%,
    #ffa5ba 50%,
    #ffb8ca 50%,
    #c7133e 50%,
    #ffa5ba 75%,
    #ffb8ca 75%
  );
  background-position: 0px 0px;
  background-repeat: repeat-y;

  animation: flavours 100s linear infinite;
  transform: rotate(155deg);
}

.icecream > .stick {
  width: 28px;
  height: 43px;

  background: #e09c5f;
  border-radius: 0 0 13px 13px;

  display: block;
  margin: 0 auto;

  &:after {
    display: block;
    content: '';

    width: 100%;
    height: 12px;

    background: #8d613b;
  }
}
@keyframes flavours {
  to {
    background-position: 0 -1000vh;
  }
}

// основная часть

.about {
  padding: 125px 0 20px 0;
  background-color: #fff5f6;
  width: 100%;

  background-image: url(../images/milk-bg-mob@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 80%;
  //   position: absolute;
  //   top: 90%;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/milk-bg-mob@2x.png);
  }
  @include min768 {
    padding: 130px 0 33px 0;
    background-image: url(../images/milk-bg-desktop@1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/milk-bg-desktop@2x.png);
    }
    @include min1280 {
      padding: 125px 0 73px 0;
    }
  }
}

.about__container {
  z-index: 1;
  position: relative;
}
.about__wrapper-content {
  @include min768 {
    @include flex(flex, center, null);
    margin-top: 50px;
  }
  @include min1280 {
    margin-top: 55px;
  }
}
.about__cow-wrapper {
  @media screen and (min-width: 320px) and (max-width: 768px) {
    @include flex(flex, center, null);
    margin-top: 26px;
  }
}

.about__text-wrapper {
  margin-top: 46px;
  padding: 0 30px;
  //   тут треба змніити падинги бо інші падінги в контейнера ніби
  //   по 20 px
  @include min768 {
    max-width: 340px;
    margin: 50px 0 0 17px;
    padding: 0;
    // margin-right: 17px;
  }
  @include min1280 {
    max-width: 463px;
    margin-left: 74px;
  }
}
.about__pre-title {
  @include font(18px, 400, 1.17, null);
  color: var(--sub-title-color);
  text-align: center;
  @include min768 {
    @include font(26px, 400, 1.15, null);
  }
  @include min1280 {
    @include font(30px, 400, 1.13, null);
  }
}
.about__title {
  @include font(34px, 400, 1.15, null);
  color: var(--accent-color);
  text-align: center;
  margin-top: 15px;
  @include min768 {
    @include font(48px, 400, 1.14, null);
  }
  @include min1280 {
    @include font(58px, 400, 1.14, 0.06em);
  }
}
.about__cow {
  @include min320-max767 {
    display: flex;
    justify-content: center;
  }
  @include min768 {
    width: 100%;
  }
}

.about__description {
  @include font(12px, 500, 1.62, null);
  color: var(--main-text-color);

  @include min768 {
    @include font(14px, 500, 1.76, null);
  }
  @include min1280 {
    @include font(16px, 500, 1.76, null);
  }
}
.about__text,
.about__text--secondary {
  @include font(12px, 500, 1.62, null);
  color: var(--secondary-text-color);
  @include min768 {
    @include font(14px, 500, 1.76, null);
  }
  @include min1280 {
    @include font(16px, 500, 1.94, null);
  }

  margin-top: 35px;
  &--secondary {
    margin-top: 20px;
  }
}
.about__button {
  min-width: 176px;
  height: 44px;
  @include flex(flex, center, center);
  margin-top: 26px;
  background: var(--main-white-color);
  border-radius: 22px;
  // padding: 15px 37px;
  padding: 17px 37px 17px 37px;
  &:hover,
  &:focus {
    background-color: var(--light-btn-hover);
  }
  @include min768 {
    margin-top: 62px;
  }
  @include min1280 {
    margin-top: 45px;
  }
}
.about__button--text {
  @include font(14px, 700, 1.28, null);

  @include min768 {
    @include font(16px, 700, 1.31, null);
  }
  margin-right: 13px;

  color: var(--accent-color);
  cursor: pointer;
}
