:root {
  --accent-color: #d41443;
  --main-white-color: #fff;
  --main-text-color: #000;
  --secondary-text-color: #907e82;
  --back-color: #ffb8ca;
  --light-btn-hover: #ecebeb;
  --dark-btn-hover: #c7133e;
  --sub-title-color: #ffa5ba;
  --loc-hov-btn: #d41342;
}
@mixin font($fs, $fw, $lh, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin flex($dis, $jc, $ali) {
  display: $dis;
  justify-content: $jc;
  align-items: $ali;
}
.contacts {
  background: linear-gradient(180deg, #fff 11%, #fff5f6 0);
}

.contacts__list {
  margin-bottom: 54px;
  @include min768 {
    @include flex(flex, null, null);
  }
}
.contacts__item {
  width: 100%;
  padding: 43px 20px;
  background: var(--main-white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @include min768 {
    padding: 50px 32px;
  }
  @include min1280 {
    padding: 52px 44px 62px;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
    @include min768 {
      margin-bottom: 0px;
      margin-right: 20px;
    }
  }
}
.contacts__card-top {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  @include min768 {
    padding-bottom: 30px;
  }
  @include min1280 {
    padding-bottom: 25px;
  }
}
.contacts__name {
  @include flex(flex, center, center);
  @include font(12px, 500, 186%, 0.04em);
  width: 80px;
  height: 16px;
  text-transform: uppercase;
  background: #f0d1a5;
  border-radius: 4px;
  text-align: center;
  color: var(--main-white-color);
  margin-bottom: 25px;
  @include min768 {
    @include font(16px, 500, 186%, 0.04em);
    width: 73px;
    height: 28px;
    margin-bottom: 30px;
  }
}
.contacts__name--green {
  width: 130px;
  background: #c2e297;
  @include min768 {
    @include font(16px, 500, 186%, 0.04em);
    width: 138px;
  }
}
.contacts__location {
  @include font(12px, 500, 186%, 0.04em);
  color: var(--main-text-color);
  margin-bottom: 10px;
  @include min768 {
    @include font(14px, 500, 186%, 0.04em);
    margin-bottom: 14px;
  }
}
.description {
  @include font(12px, 500, 150%, null);
  color: var(--secondary-text-color);
  @include min768 {
    @include font(14px, 500, 166%, 0.04em);
  }
}
.contacts__card-middle {
  padding: 25px 0;
  border-bottom: 1px solid #e1e1e1;
  @include min768 {
    padding: 30px 0;
  }
}
.contacts__schedule {
  @include font(12px, 500, 186%, null);
  color: var(--main-text-color);
  @include min768 {
    @include font(14px, 500, 186%, null);
  }
}
.contacts__time {
  @include font(12px, 500, 186%, null);
  color: var(--sub-title-color);
  @include min768 {
    @include font(14px, 500, 186%, null);
  }
  &:not(:last-child) {
    margin-bottom: 10px;
    @include min768 {
      margin-bottom: 16px;
    }
  }
}
.contacts__card-bottom {
  padding-top: 25px;
  @include min768 {
    padding-top: 30px;
  }
}
.contacts__link {
  @include font(12px, 500, 150%, null);
  color: var(--secondary-text-color);
  @include min768 {
    @include font(14px, 500, 183%, null);
  }
}
// .contacts__tel {

// }
// .contacts__mail {

// }
