.reviews-section{
padding-top: 40px;
padding-bottom: 0;
    @include min768{
        padding-top: 60px;
    }
}

.review-card-wrap{
position: relative;
width: 100vw;
max-width: 280px;
margin: 0 auto;

    @include min768{
        max-width: 620px;
    }
    @include min1200{
        max-width: 926px;
    }
}

.review-card__img{
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
    @include min768{
        margin-bottom: 20px;
    }
    @include min1200{
        margin-bottom: 15px;
    }
}

.review-card__text{
@include font(12px, 500, 2.5, null);
text-align: center;
color: var(--main-text-color);
padding: 40px 60px 20px 60px;
z-index: 1;
    &::before{
    content: url("data:image/svg+xml,%3Csvg width='54' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.018 0c2.41 0 4.687.65 6.83 1.951 2.143 1.301 3.884 3.171 5.223 5.61C53.357 10 54 12.873 54 16.179s-.804 6.531-2.41 9.675c-.536 1.138-1.5 2.601-2.894 4.39-1.446 1.788-2.785 3.333-4.017 4.634L39.616 40 36 33.984a27.548 27.548 0 0 0 6.67-5.854c1.928-2.276 2.892-4.363 2.892-6.26 0-.976-.214-1.762-.642-2.358-1.875 1.355-3.965 2.033-6.268 2.033-1.66 0-3.241-.515-4.741-1.545a10.708 10.708 0 0 1-3.697-3.902c-.964-1.572-1.446-3.198-1.446-4.878 0-1.898.562-3.713 1.687-5.448a12.784 12.784 0 0 1 4.26-4.227C36.428.515 38.195 0 40.017 0ZM11.17 0c2.41 0 4.687.65 6.83 1.951 2.143 1.301 3.884 3.17 5.223 5.61 1.286 2.439 1.929 5.312 1.929 8.618 0 2.33-.295 4.417-.884 6.26-.59 1.897-1.607 3.875-3.054 5.935-1.393 1.951-2.705 3.577-3.937 4.878-1.232 1.355-3.375 3.604-6.429 6.748l-3.616-6.016a27.551 27.551 0 0 0 6.67-5.854c1.928-2.276 2.893-4.363 2.893-6.26 0-.976-.215-1.762-.643-2.358-1.875 1.355-3.965 2.033-6.268 2.033-1.66 0-3.241-.515-4.741-1.545a10.708 10.708 0 0 1-3.697-3.902C.482 14.526 0 12.9 0 11.22c0-1.898.536-3.713 1.607-5.448a12.784 12.784 0 0 1 4.26-4.227C7.58.515 9.347 0 11.17 0Z' fill='%23E1E1E1'/%3E%3C/svg%3E");
    position: absolute;
    z-index: -1;
    top: 28px;
    left: 60px;
        @include min768{
            top: 30px;
            left: 40px;
        }
        @include min1200{
            top: 30px;
            left: 50px;
        }
    }

   
    @include min768{
        @include font (14px, 500, 2.1, null);
        padding: 30px 38px 28px 38px;
        margin-bottom: 24px;
    }
    @include min1200{
        @include font (16px, 500, 1.8, null);
        margin-bottom: 15px;
        padding: 30px 52px 30px 52px;
    }
}

.review-local-wrap{
    padding-left: 74px;
    padding-right: 74px;
    @include min768{
        padding-left: 80px;
        padding-right: 80px;
    }
    @include min1200{
        padding-left: 87px;
        padding-right: 87px;
    }
}

.review-local{
@include font(14px, 500, 1.8, null);
text-align: center;
color: var(--main-text-color);
margin-bottom: 30px;

    &::before{
        content: url("data:image/svg+xml,%3Csvg width='32' height='4' viewBox='0 0 32 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='2' r='2' fill='%23C7133E'/%3E%3Ccircle cx='2' cy='2' r='2' fill='%23C7133E'/%3E%3Ccircle cx='30' cy='2' r='2' fill='%23C7133E'/%3E%3C/svg%3E%0A");
        display: block;
        margin-bottom: 18px;
        @include min768{
            margin-bottom: 14px;
        }
        @include min1200{
            margin-bottom: 15px;
        }
    }
     @include min768{
        @include font (16px, 500, 1.8, null);
        
    }
    @include min1200{
        @include font (20px, 500, 1.8, null);
        margin-bottom: 35px;
       
    }
}
.swiper-button-next,
.swiper-button-prev {
    &:after{
        content: "";
        color: var(--back-color);
    }
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background: #D9D9D9;
}
.swiper-pagination-bullet-active{
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8449 5.85484C13.0696 5.60772 13.0479 5.22897 12.7964 5.00908L7.25687 0.161935C7.00543 -0.0579491 6.60231 -0.0533429 6.35616 0.172319L0.797761 5.26751C0.551613 5.49318 0.539532 5.87145 0.771013 6.11206L0.91037 6.25719C1.14157 6.49781 1.51527 6.52649 1.74453 6.32107L2.15994 5.94907V11.3953C2.15994 11.7295 2.43069 12 2.7646 12H4.93127C5.26518 12 5.53594 11.7295 5.53594 11.3953V7.58515H8.29956V11.3953C8.29475 11.7292 8.53367 11.9998 8.86757 11.9998H11.1637C11.4976 11.9998 11.7684 11.7292 11.7684 11.3951V6.02575C11.7684 6.02575 11.8831 6.12628 12.0247 6.25069C12.166 6.37485 12.4627 6.2753 12.6874 6.02794L12.8449 5.85484Z' fill='%23D31342'/%3E%3C/svg%3E%0A");
}