.footer {
    background: #ffa5ba;
    
}

.footer__title{
color: #FEA5BB;
font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;
margin-top: 63px;
}
.footer__text {
    color: #d41443;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 63px;
}


.footer__icon {
    fill:#FEA5BB;
}

.footer__link--text,
.footer__link--tel   {
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 22px;
}

.footer__link {
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.02em;
    &--text 
    {
        color: #000000;
    }
    &--tel
    {color: #d41443;;

    }

}

.copyright__title,
.copyright__text {
color: #907E82; 
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 26px;
}

