.footer {
    background:#FFF5F6;
    padding-top: 113px;
    padding-bottom: 25px;
    @include min768 {
      padding-bottom: 18px;
      padding-top: 165px;
    }
    @include min1280 {
      padding-bottom: 10px;
    }
  }
  .container.down
  {
    @include max767 {
      margin-bottom: 43px;
    }
  
    // @include min768 {
    //   width: 700px;
    // }
    // @include min1280 {
    //   width: 472px;
    // }
  }
  .container.down {
      @include min1280 {
        margin-bottom: 97px;
      }
      @include min768 {
        margin-bottom: 91px;
        display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
      } 
        @include min768 {
            @include flex(flex, space-between, baseline);
      }
  }
  

.footer__title  {
  @include max767 {
    width: 232px;
    // padding-left: 22px;
  }
  align-items: flex-start;
  color: #FEA5BB;
  font-family: Titan One;
  text-transform: uppercase;
  @include font(18px,400,1.16, 0.04px);

   
    @include min768 {
      margin-bottom: 15px;
      @include font(26px,400,1.14, 0.04px);
    }
    @include min1280 {
      width: 100%;
    @include font(30px,400,1.16, 0.04px);
    }
}
.footer__text {
    color: #d41443;
    font-family: Titan One;
    @include font(34px,400,1.14, 0.04px);
    text-transform: uppercase;

    margin-top: 17px;
    // padding-left: 20px;

    @include max767 {
      width: 200px;
    }
    align-items: flex-start;
    @include max1279 {
      margin-top: 17px;
    }
    @include min768 {
      margin-bottom: 15px;
      @include font(48px,400,1.14, 0.04px);
    }
    @include min1280 {
       @include font(58px,400,1.14, 0.04px);
    }
}


.footer__icon {
    fill: #ffffff;
    background-color: #FEA5BB;
    border-radius: 50%;
    transition: fill 250ms linear, background-color 250ms linear;

}
.footer-social__link {
  border-radius: 50%;
  &:hover .footer__icon,
  &:focus .footer__icon {
    fill: #ffffff;
    background-color: #d41443;
  }
}

.footer-social__list {
  margin-bottom: 46px;
  display: flex;  
  justify-content: flex-end;
  @include min768 {
    margin-bottom: 50px;
  }
  .footer-social__item:not(:last-child) {
    margin-right: 24px;
  }
  // @include max767{
  //   padding-right: 21px;
  // }
}
.footer__contact {
  @include max767{
    // padding-right: 20px;
    text-align: end;
  }
}
.footer__media {
  @include min768 {
    @include flex(flex, space-between, baseline);
    flex-wrap: wrap;
    margin-left: 92px;
  }
  @include min1280 {
    @include flex(flex, space-between, baseline);
    margin-left: 257px;
  }
}

.footer__contact--text,
.footer__link--tel   {
  font-family: DM Sans;
  @include font(12px,700,1.86, 0.04px);
  @include min768 {
  @include font(14px,700,1.86, 0.04px);
  }
  @include min1280 {
  @include font(16px,700,1.86, 0.04px);
  }

}
.footer__contact--text {
    color: #000000;
}
.footer__link--tel {
    color: #d41443;
    }
.copyright {
  display: block;
  border-top: 1px solid #E1E1E1;
  text-align: center;
 }
.copyright__title {
color: #907E82; 
font-family: DM Sans;
@include font(14px,700,1.52, 0.04px);
padding-top: 9px;
text-align: center;
margin-left: auto;
margin-right: auto;
@include max767 {
  width: 150px;
}
@include min768 {
  width: 100%;
}
}


