.contacts-location-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(255, 248, 220, 0.5);
}
//.is-hidden {
//   visibility: hidden;
//   opacity: 0;
//    pointer-events: none;
// }

.contacts-location-map {
  position: absolute;
  display: block;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  padding: 10px 10px;

  background-color: rgba(255, 20, 147, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms;
  @include min480 {
    height: 80vh;
    width: 450px;
  }
  @include min768 {
    width: 680px;
  }
  @include min1200 {
    width: 1000px;
  }
}
.contacts-location__form {
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 95%;
  @include min480 {
    width: 95%;
    padding: 5px 5px;
  }
}
.contacts-location-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  padding: 3px 3px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 20, 147, 0.2);
  border: 1px solid rgba(245, 129, 200, 0.637);
  border-radius: 50%;
  fill: #fff;

  &:hover,
  &:focus {
    background-color: var(--dark-btn-hover);
  }
}

.contacts-location__title {
  display: block;
  margin-bottom: 10px;
  font-family: Titan One;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  @include min768 {
    font-size: 25px;
  }
  @include min1200 {
    font-size: 25px;
  }
}
