.products {
  padding: 121px 0 98px 0;

  @include min768 {
    padding: 122px 0 112px 0;
  }

  @include min1280 {
    padding: 127px 0 119px 0;
  }
}

.product-pre-title {
  @include font(18px, 400, 1.17, null);
  font-family: Titan One;
  text-align: center;
  text-transform: uppercase;
  color: var(--sub-title-color);

  @include min768 {
    @include font(26px, 400, 1.15, null);
  }
  @include min1280 {
    @include font(30px, 400, 1.13, null);
  }
}

.product-title {
  @include font(34px, 400, 1.15, null);
  font-family: Titan One;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);

  margin-bottom: 144px;

  @include min768 {
    @include font(48px, 400, 1.15, null);
    margin-bottom: 150px;
  }

  @include min1280 {
    @include font(56px, 400, 1.14, null);
    margin-bottom: 259px;
  }
}

.product-list {
  @include min768 {
    display: flex;
    margin-right: -20px;
  }
  @include min1280 {
    display: flex;
    margin-right: -29px;
  }
}

.product-container {
  max-width: 280px;
  justify-content: center;
  padding: 161px 40px 40px 40px;

  transform: scale(1);
  transition: box-shadow 400ms linear,
  border 650ms linear,
  transform 500ms;
  overflow: hidden;
  box-sizing: border-box;

  &:focus {
    transform: scale(1);
  }

  @include min768 {
    max-width: 220px;
    padding: 152px 11px 40px 11px;
  }

  @include min1280 {
    max-width: 329px;
    padding-left: 44px;
    padding-right: 44px;
    padding: 161px 44px 50px 44px;
  }
}

.product-link {
  @include min768 {
    width: calc(100% / 3 - 20px);
  }
  position: relative;
  border-radius: 24px;
  background-color: var(--back-color);

  @include min1280 {
    width: calc(100% / 3 - 29px);
  }

  &:nth-child(2) {
    background-color: #f0d1a5;
  }

  &:last-child {
    background-color: #c2e297;
  }
  @media screen and (max-width: 767px) {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  @include min768 {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include min1280 {
    &:not(:last-child) {
      margin-right: 29px;
    }
  }

  &::before {
    content: '';
    z-index: 99;
    position: absolute;
    top: -23%;
    left: 50%;
    right: 50%;
    margin-bottom: 20px;
    transform: translateX(-50%);
    width: 249px;
    height: 252px;

    @include min768 {
      width: 220px;
      height: 226px;
      top: -20.5%;
      margin-bottom: 30px;
    }

    @include min1280 {
      width: 335px;
      height: 335px;
      top: -39.5%;
      margin-bottom: 38px;
    }
  }

  &::before {
    background-image: url(../images/products-icecream-mob@1x.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products-icecream-mob@2x.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include min768 {
      background-image: url(../images/products-icecream-tab@1x.png);
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-icecream-tab@2x.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    @include min1280 {
      background-image: url(../images/products-icecream-desktop@1x.png);
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-icecream-desktop@2x.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &:nth-child(2) {
    &::before {
      background-image: url(../images/products-icecoffee-mob@1x.png);
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-icecoffee-mob@2x.png);
        background-repeat: no-repeat;
        background-size: cover;
      }

      @include min768 {
        background-image: url(../images/products-icecoffee-tab@1x.png);
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products-icecoffee-tab@2x.png);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      @include min1280 {
        background-image: url(../images/products-icecoffee-desktop@1x.png);
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products-icecoffee-desktop@2x.png);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  &:last-child {
    &::before {
      background-image: url(../images/products-iceshakes-mob@1x.png);
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-iceshakes-mob@2x.png);
        background-repeat: no-repeat;
        background-size: cover;
      }

      @include min768 {
        background-image: url(../images/products-iceshakes-tab@1x.png);
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products-iceshakes-tab@2x.png);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      @include min1280 {
        background-image: url(../images/products-iceshakes-desktop@1x.png);
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/products-iceshakes-desktop@2x.png);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}

.product-container__title {
  @include font(20px, 400, 1.15, null);
  font-family: Titan One;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-white-color);

  @include min1280 {
    @include font(30px, 400, 1.13, 0.04em);
  }

  &::after {
    content: '';
    width: 26px;
    display: block;
    height: 6px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='6' viewBox='0 0 26 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13' cy='3' r='3' fill='white'/%3E%3Ccircle cx='3' cy='3' r='3' fill='white'/%3E%3Ccircle cx='23' cy='3' r='3' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }
}

.product-container__text {
  @include font(14px, 700, 152%, 0.04em);
  font-family: DM Sans;
  font-style: normal;
  text-align: center;
  max-width: 200px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;

  @include min768 {
    @include font(14px, 700, 176%, 0.04em);
    max-width: 298px;
  }

  @include min1280 {
    @include font(16px, 700, 176%, 0.04em);
    max-width: 241px;
  }
}

.product-info-btn {
  position: relative;
  z-index: 100;
  cursor: pointer;
  background: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  @include min768 {
    margin-top: 40px;
  }

  @include min1280 {
    margin-top: 62px;
  }
}




.product-container-content {
  @include font(14px, 700, 152%, 0.04em);
  font-family: DM Sans;
  text-align: center;
  color: var(--main-white-color);

  max-width: 200px;
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  padding: 163px 24px;
  max-width: 280px;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 300ms linear;
  overflow: hidden;

  @include min768 {
    max-width: 306px;
  }

  @include min1280 {
    max-width: 322px;
  }
}

.content1 {
  background-color: var(--back-color);
}

.content2 {
  background-color: #f0d1a5;
}

.content3 {
  background-color: #c2e297;
}

.product-link .product-container-content {
  transform: translateX(0);
}