.product-pre-title {
    @include font(18px, 400, 1.17, 0.04em);
    font-family: Titan One;
    text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;
}

.product-title {
    @include font(34px, 400, 1.15, 0.04em);
    font-family: Titan One;
    text-align: center;
    text-transform: uppercase;

    color: #D41443;

    margin-bottom: 30px;
}

.product-container {
    border: 1px solid red;
    max-width: 280px;
    border-radius: 24px;
    background-color: var(--back-color);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.product-link {
   &:not(:last-child) {
     margin-bottom: 130px;
   }
}


.product-container__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: calc(23 / 20);
    
    text-align: center;
    justify-content: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--main-white-color);

    &::before {
    content: '';
    display: block;
     width: 249px;
     height: 252px;
    }

    &::after {
      content: '';
      display: block;
      width: 26px;
      height: 6px;
      margin: 30px;
      margin-left: auto;
      margin-right: auto;
    }

    &::before {
        position: relative;
        top: 0;
        margin-bottom: 20px;
        background-image: url(../images/products-icecoffee-mob@1x.png);
    }

    &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='6' viewBox='0 0 26 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13' cy='3' r='3' fill='white'/%3E%3Ccircle cx='3' cy='3' r='3' fill='white'/%3E%3Ccircle cx='23' cy='3' r='3' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
    }
}

.product-container__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 152%;

    text-align: center;
    letter-spacing: 0.04em;
    max-width: 200px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;

    &::after {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        margin: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    &::after {
        background-image: url(../images/btn-arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}
